@import "../../App.module.scss";

// TODO: Add media queries to make responsive........

.mainContainer {
	min-width: 560px !important;
	max-width: 600px !important;
	height: 60vh;
	background: rgba(white, 0.8);
	backdrop-filter: blur(4px);
	border-radius: $medBorderRadius;

	.outerBox {
		@include flex-container(column, center, center);
		padding: $mediumPadding;
		height: calc(100% - ($mediumPadding * 2));

		.formBox {
			@include flex-container(column, space-between, center);
			width: 100%;
			height: 100%;
			padding-block: $mediumPadding;

			.formInputs {
				width: 100%;

				& * {
					padding-block: 6px;
				}
			}

			.formActions {
				@include flex-container(column, center, center);
				width: 100%; // required because of the align-items: center; above

				.supportLinksContainer {
					@include flex-container(row, space-between, center);
					width: 100%;
					padding-top: 5px;

					.forgotPasswordLink {
						width: 50%;
					}
				}
			}
		}
	}
}
