@import '../../App.module.scss';


.mainContainer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	.svg {
		position: fixed;
		top: 0;
		margin: 20px;
		cursor: pointer;
	}

}

.navMenu {
	@include flex-container(column, flex-start, flex-start);
	font-size: 24px;
	padding: 60px 45px 0 0;

	::before {
		content: '';
		height: 100%;
		padding-inline: 7px;
		margin-right: 10px;
		background: white;
	}
}

.fadeIn {
	opacity: 1;
	transition: width .5s, height .5s, opacity .5s .5s;
}

.fadeOut {
	opacity: 0; 
	transition: width .5s .5s, height .5s .5s, opacity .5s;
}