@import "../../App.module.scss";

.gameCardBox {
	display: inline-block;
	color: white;
	width: 400px;
	height: 400px;
	padding: $lightPadding;

	.card {
		height: 80%;
		border-radius: $medBorderRadius !important;
		position: relative;
		
		.cardActionArea {
			height: 100%;
			width: 100%;
			background: black;
		}

		.imageOverlay {
			display: inline-block;
			position: absolute;
			top: 80%;
			left: 5%;
			pointer-events: none;
			background: rgba(0, 0, 0, .5);
			color: white;
			padding: 6px;
			font-size: 20px;
		}
	}

	.cardTitle {
		font-size: 23px;
	}
}

@media (max-width: 900px) {
	.card {
		.imageOverlay {
			font-size: 15px !important;
		}
	}

	.cardTitle {
		font-size: 20px !important;
	}
}

@media (max-width: 700px) {

	.card {
		.imageOverlay {
			left: 7% !important;
			padding: 0px 0px 10px 0px !important;
			font-size: 10px !important;
		}
	}

	.imageOverlay {
		bottom: 45px !important;
		left: 15px !important;
		font-size: 13px !important;
	}

	.cardTitle {
		font-size: 16px !important;
	}
}