@mixin flex-container($direction, $justify-content, $align-items) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify-content;
	align-items: $align-items;
}

$baseColor: #FCEE0C;
$lightBaseColor: #fef685;
$paddingInline: 4rem;
$lightPadding: 2rem;