@mixin flex-container($direction, $justify-content, $align-items) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify-content;
	align-items: $align-items;
}

$baseColor: #FCEE0C;
$lightBaseColor: #fef685;
$electricBlue: #6EFAFB;
$playstationBlue: #006FCD;
$paddingInline: 4rem;
$lightPadding: 1rem;
$mediumPadding: 2rem;
$medBorderRadius: 16px;