@import '../../App.module.scss';

@font-face {
	font-family: 'Cyberpunk';
	src: url('../../assets/fonts/thunder/Thunder-BoldLC.ttf');
}


.container {



	.grid {
		@include flex-container(row, center, center);
		gap: min(40px, 5%);
		flex-wrap: wrap;
	}
}